<h4>List movie winners by year</h4>

<div class="row">
  <div class="col-10">
    <input [(ngModel)]="currentFilterByYear" class="form-control form-control-sm" type="number" maxlength="4"
      placeholder="Filter by Year" aria-label="Filter by Year">
  </div>
  <div class="col-2">
    <button (click)="onFilterByYear(currentFilterByYear)" class="btn btn-sm btn-primary">Search</button>
  </div>
</div>

<div class="mb-2"></div>

<table class="table table-sm table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Year </th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movieData?.items">
      <td>{{movie.id}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.title}}</td>
    </tr>
  </tbody>
</table>
<nav aria-label="Table pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" [ngClass]="{'disabled': !movieData?.hasPreviousPage}"
        (click)="onChangePageNumber(movieData?.pageNumber! - 1)" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let page of listPageNumber" class="page-item">
      <a class="page-link" [ngClass]="{'active': page == movieData?.pageNumber}" (click)="onChangePageNumber(page)"
        href="#">{{page}}</a>
    </li>

    <li class="page-item">
      <a class="page-link" [ngClass]="{'disabled': !movieData?.hasNextPage}"
        (click)="onChangePageNumber(movieData?.pageNumber! + 1)" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
