<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <app-years-multiple-winners></app-years-multiple-winners>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <app-studios-top-winners></app-studios-top-winners>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <app-years-multiple-winners></app-years-multiple-winners>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <app-list-movies-by-year></app-list-movies-by-year>
        </div>
      </div>
    </div>
  </div>
</div>
