<app-top-bar></app-top-bar>

<div class="container-fluid sidebar">
  <div class="row">
    <!-- menu -->
    <div class="col-2 bg-body-tertiary sidebar">
      <ul class="nav flex-column align-items-center">
        <li class="nav-item">
          <a  [routerLink]="['dashboard']" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['list']" class="nav-link">List</a>
        </li>
      </ul>
    </div>

    <main class="col-10 ms-sm-auto">
      <router-outlet />
    </main>
  </div>
</div>
