<h4>List movies</h4>
<table class="table table-sm table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Year
        <input [(ngModel)]="currentFilterByYear" (input)="onFilterByYear($any($event.target).value)"
          class="form-control form-control-sm" type="text" placeholder="Filter by Year" aria-label="Filter by Year">
      </th>
      <th scope="col">Title</th>
      <th scope="col">Winner?
        <select class="form-select" [(ngModel)]="currentTypeofWinner"
          (change)="onChangeWinnersYesNo($any($event.target).value)">
          <option *ngFor="let typeofWinner of listTypeofWinner" value={{typeofWinner}}>
            {{typeofWinner}}
        </select>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movieData?.items">
      <td>{{movie.id}}</td>
      <td>{{movie.year}}</td>
      <td>{{movie.title}}</td>
      <td>{{movie.winner | toYesNo}}</td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-11">
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <button class="page-link" [ngClass]="{'disabled': !movieData?.hasNextPage}"
            (click)="onChangePageNumber(movieData?.pageNumber! - 1)">
            &laquo;
          </button>
        </li>
        <li *ngFor="let page of listPageNumber" class="page-item">
          <button class="page-link" [ngClass]="{'active': page == movieData?.pageNumber}"
            (click)="onChangePageNumber(page)">
            {{page}}
          </button>
        </li>
        <li class="page-item">
          <button class="page-link" [ngClass]="{'disabled': !movieData?.hasNextPage}"
            (click)="onChangePageNumber(movieData?.pageNumber! + 1)">
            &raquo;
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-1">
    <select class="form-select" [(ngModel)]="currentPageSize" (change)="onChangePageSize($any($event.target).value)">
      <option *ngFor="let pageSize of listPageSize" value={{pageSize}}>
        {{pageSize}}
    </select>
  </div>
</div>
